---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <section>
    <article>
      <h3 class="mb-2 text-2xl">My linux journey</h3>
      <p>WIP</p>
    </article>
  </section>
</Layout>
