---
import Layout from "../layouts/Layout.astro";

import { Icon } from "astro-icon/components";
---

<Layout>
  <section class="text-center mt-20">
    <hgroup class="space-y-3">
      <Icon name="lucide:dog" class="size-24 mx-auto stroke-[1px]" stroke-width="1" is:inline />
      <h2 class="text-6xl">404</h2>
      <p class="text-xl">Dog not found</p>
    </hgroup>
  </section>
</Layout>
