---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h2 class="mb-2 text-2xl">Source code</h2>
    <a href="https://gitlab.com/luanalatte/luanalatte.gitlab.io" target="_blank" class="text-pink-600">GitLab</a>
  </section>
  <hr class="my-4">
  <section>
    <h2 class="mb-2 text-2xl">Credits</h2>
    <p class="mb-2">This site has been possible thanks to:</p>
    <ul class="space-y-1">
      <li><a rel="external" href="https://astro.build/" target="_blank" class="text-pink-600">Astro</a></li>
      <li><a rel="external" href="https://alpinejs.dev/" target="_blank" class="text-pink-600">AlpineJS</a></li>
      <li><a rel="external" href="https://tailwindcss.com/" target="_blank" class="text-pink-600">Tailwind CSS</a></li>
      <li>
        <a rel="external" href="https://mutant.tech/" target="_blank" class="text-pink-600">Mutant Standard</a> emoji set
        <a rel="nofollow" href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="text-sm text-gray-500">(CC BY-NC-SA 4.0)</a>
      </li>
      <li><a rel="external" href="https://lucide.dev/" target="_blank" class="text-pink-600">Lucide Icons</a> / <a rel="external" href="https://feathericons.com/" target="_blank" class="text-pink-600">Feather Icons</a></li>
    </ul>
  </section>
  <hr class="my-4">
  <section>
    <h2 class="mb-2 text-2xl">Changelog</h2>
    <ul class="space-y-1">
      <li>2.0: Migrated to Astro and converted into an actual SPA.</li>
      <li>1.0: Launched on GitLab Pages as a landing site with AlpineJS toggling sections on and off.</li>
    </ul>
  </section>
</Layout>
