---
import Layout from "../layouts/Layout.astro";
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import puppyGif from "../assets/puppy.gif";
---

<Layout>
  <section class="grid gap-4 lg:grid-cols-[auto_1fr] lg:gap-8">
    <div>
      <figure class="shadow-blur-0 relative mx-auto mb-4 max-w-max rounded-sm border border-gray-200 p-2 shadow-sharp-lg">
        <Image src={puppyGif} alt="Animated drawing of a happy dog girl wagging her tail" loading="eager" />
        <figcaption class="mb-4 mt-2 italic">
          <p>Luana wagging her tail.</p>
          <p class="text-sm">
            Art by
            <a rel="nofollow" href="https://chubbymikka.carrd.co/" target="_blank" class="text-pink-600">@chubbymikka</a>
          </p>
        </figcaption>
        <Icon name="lucide:bone" class="absolute bottom-12 right-5 size-12 [&>path]:fill-[#f9a8d4]" is:inline />
      </figure>
      <div class="flex justify-center gap-2 px-4 lg:justify-start">
        <img src="/img/transgender_flag.svg" alt="Transgender flag" class="w-6" />
        <p>Proud transgender</p>
      </div>
    </div>
    <div>
      <div class="px-4">
        <hgroup class="mb-4">
          <h2 class="text-2xl font-normal">Luana Latte</h2>
          <p class="text-sm italic">dogpilled and phpilled</p>
        </hgroup>
        <p><span x-data x-text="new Date().getFullYear() - 2000"></span>yo web developer, linux user, girlfriend and dog in equal parts.</p>
      </div>
      <div class="mt-4 space-y-4">
        <article class="bg-pink-200 px-4 py-2">
          <h3 class="mb-2 text-xl font-normal">Web developer</h3>
          <p>I am a fullstack dev at a small team in Argentina. I specialize in Laravel, and I like backend the most.</p>
        </article>
        <article class="bg-pink-200 px-4 py-2">
          <h3 class="mb-2 text-xl font-normal">Linux user</h3>
          <p>
            I run Arch Linux as a daily driver on both my desktop and my laptop. I've been working, tinkering and gaming on it for a while now. Even though my linux journey started back in 2018, I went through many different phases and installs before arriving at my current setup. You can read more about it
            <a href="/notes/linux" class="text-pink-700" @click.prevent="navigate('notes/linux')">&lt;here&gt;</a>.
          </p>
        </article>
        <article class="bg-pink-200 px-4 py-2">
          <h3 class="mb-2 text-xl font-normal">Girlfriend</h3>
          <p>
            I've been dating a raccoon for many years now. We're pseudo-married because they say so and everything they say it's the absolute truth. One day we'll <i>actually</i> get married under the light of the stars.
          </p>
        </article>
        <article class="bg-pink-200 px-4 py-2">
          <h3 class="mb-2 text-xl font-normal">Dog</h3>
          <p>I'm a dog in case you didn't notice. That's it. <i>*Woof wruff bark*</i> and all that jazz.</p>
        </article>
      </div>
    </div>
  </section>
</Layout>
