---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section>
    <h2 class="mb-2 text-2xl">Notes</h2>
    <div class="mt-4 space-y-4">
      <a href="/notes/linux">
        <article class="cursor-pointer bg-pink-200 px-4 py-2">
          <h3 class="mb-2 text-xl font-normal">My linux journey</h3>
          <div class="flex items-center justify-between">
            <p>A post where I talk about how and why I started using linux, and how I ended up daily driving it.</p>
            <span class="text-sm">15.01.2025</span>
          </div>
        </article>
      </a>
    </div>
  </section>
</Layout>
