---
import { Icon } from "astro-icon/components";

import browser from "../scripts/browser";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<div x-data={browser} id="browser" class="h-full" @astro:before-swap.document.once="beforeSwap()">
  <div id="browserWindow" x-ref="window" class="grid grid-rows-[auto_1fr] h-full border-gray-800">
    <script is:inline>
      const resetWindowState = () => {
        if (localStorage.getItem("_x_maximized") != "true") {
          document.getElementById("browser").classList.add("p-8");
          document.getElementById("browserWindow").classList.add("unmaximized");
        }
      };

      document.addEventListener("astro:after-swap", resetWindowState);
      resetWindowState();
    </script>
    <div class="flex items-center border-b-4 border-gray-800 px-4 py-2 bg-white">
      <div class="flex gap-2">
        <button type="button" :disabled="history.length == 0" class="disabled:text-gray-400" @click="back()">
          <Icon class="size-5" name="lucide:arrow-left" />
        </button>
        <button type="button" :disabled="historyF.length == 0" class="disabled:text-gray-400" @click="forwards()">
          <Icon class="size-5" name="lucide:arrow-right" />
        </button>
        <button type="button" class="disabled:text-gray-500" @click="reload()">
          <Icon class="size-5" name="lucide:rotate-cw" />
        </button>
      </div>
      <div class="flex-grow px-4">
        <form @submit.prevent="navigateFull()">
          <input type="text" x-ref="urlbar" class="w-full max-w-[40rem] rounded-lg border-2 border-gray-800 px-2" :value="window.location.href" />
        </form>
      </div>
      <div class="flex gap-2">
        <button type="button" class="disabled:text-gray-400" @click="maximize()">
          <Icon class="size-5" name="lucide:dog" />
        </button>
        <button type="button" class="disabled:text-gray-400" disabled>
          <Icon class="size-5" name="lucide:cat" />
        </button>
      </div>
    </div>
    <div class="overflow-y-scroll bg-white">
      <div class="grid grid-rows-[auto_1fr_auto] h-full">
        <Header />
        <main class="p-4 mx-auto w-full max-w-[1200px]">
          <slot />
        </main>
        <Footer />
      </div>
    </div>
  </div>
</div>

<style>
  .unmaximized {
    @apply border-4 border-b-8 rounded-2xl overflow-hidden shadow-md;
  }
</style>
