---
import { Icon } from "astro-icon/components";
---

<footer class="text-gray-700">
  <div class="mx-auto flex max-w-[1200px] items-center justify-between px-4 py-2">
    <div class="flex gap-4">
      <a rel="author" href="https://github.com/luanalatte" target="_blank" class="flex w-min items-center gap-2"><Icon class="size-5" name="feather:github" /> luanalatte</a>
      <a rel="author" href="https://gitlab.com/luanalatte" target="_blank" class="flex w-min items-center gap-2"><Icon class="size-5" name="feather:gitlab" /> luanalatte</a>
    </div>
    <div>
      <a href="/credits">about v2.0</a>
    </div>
  </div>
</footer>
