---
import { Icon } from "astro-icon/components";
---

<header class="bg-pink-300">
  <div class="mx-auto max-w-[1200px]">
    <div class="flex items-center gap-2">
      <a href="/">
        <h1 class="px-4 py-2 text-lg font-normal text-nowrap">Luana Latte</h1>
      </a>
      <a href="/notes" class="flex items-center gap-2 p-2">Notes <Icon name="lucide:paw-print" /></a>
    </div>
  </div>
</header>
