---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<div class="grid grid-rows-[auto_1fr_auto] h-full">
  <Header />
  <main class="p-4 mx-auto w-full max-w-[1200px]">
    <slot />
  </main>
  <Footer />
</div>
