---
import Browser from "../components/Browser.astro";
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/img/transgender_flag.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap" rel="stylesheet" />
    <title>Luana Latte</title>
    <ClientRouter />
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <script>
      import { navigate } from "astro:transitions/client";
      window.navigate = navigate;
    </script>
  </head>
  <body class="h-screen bg-blue-200 font-light">
    <Browser>
      <slot />
    </Browser>
  </body>
</html>
